@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

h1 {
    color: #F26B5E;
    font-size: 70px;
    margin-bottom: 20px;
}

span {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #023E73;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.game {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 495px);
    grid-template-rows: 240px 495px;
}

.switch-mode {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.switch {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: 3rem;
    background-color: #F2C46D;
}

.not-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    background-color: #F2C46D;
    border-radius: 50%;
}

.selected {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    background-color: #023E73;
    border-radius: 50%;
}

.cross {
    color: #F26B5E;
    font-size: 2rem;
}

.square {
    color: #F26B5E;
    font-size: 1.6rem;
}

.board-values-vertical {
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 3px solid #F26B5E;
}

.board-values-vertical p {
    color: #F26B5E;
    width: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-values-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    padding-right: 10px;
    border-right: 3px solid #F26B5E;
}

.board-values-horizontal p {
    color: #F26B5E;
    height: 33px;
    letter-spacing: 6px;
    display: flex;
    align-items: center;
}

.board {
    overflow: hidden;
    border-radius: 1em;
    display: grid;
    grid-template-columns: repeat(15, 30px);
    grid-template-rows: repeat(15, 30px);
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.board-cross {
    color: #023E73;
}

.item {
    height: 100%;
    background-color: #F2C46D;
    transition: background-color 5s;
}

.item2 {
    height: 100%;
    background-color: #F26B5E;
    transition: background-color 5s;
}